body {
  background-color: #c3cfe2;
  margin: 50px;
}

.nielsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 50px;
}

.nielsPicture {
  position: relative;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  transition: .5s;
  opacity: 1;
}

.nielsPicture:hover, .readButton:hover + .nielsPicture {
  opacity: 0;
}

.nielsPicture:hover + .readButton, .readButton:hover{
  opacity: 1;
}

.pictureDiv {
  background-color: rgb(44, 45, 66);
  border-radius: 20px;
  width: 100%;
  height: 100%;
} 

.readButton {
  opacity: 0;
  width: center;
  height: center;
  position: absolute;
  transform: translate(-200px, 130px);
}

/* grote van mobiel  */
@media (max-width: 650px) {

  .nielsGrid {
    grid-template-columns: repeat(1, 1fr);
  }
} 

/* grote van tablet */
@media screen and (max-width: 960px) and (min-width: 651px) {

  .nielsGrid {
    grid-template-columns: repeat(2, 2fr);
  }
} 