@import url(https://fonts.googleapis.com/css?family=Oswald:700);

body     {
  background:rgb(32, 32, 32);
  text-align:center;
}

h1         {
  color:#FFF;
  font-family:'Oswald';
  font-weight:700;
  position:relative;  
  margin:30px auto;
  text-transform:uppercase;
  width:550px;
}

h1::before {
    content: '';
    background: #4A90E2;
    display: inline-block;
    width: 50px;
    height: 50px;
    position: absolute;
    left: -10px;
    border-radius: 50px 0px 0px 50px;
}

h1::after {
    content: '';
    background: #4A90E2;
    display: inline-block;
    width: 50px;
    height: 50px;
    position: absolute;
    right: -10px;
    border-radius: 0px 50px 50px 0px;
}

/* selector voor het linker halve cirkeltje, selector voor het rechter halve cirkeltje {
// gezamelijke eigenschappen van de halve cirkels: 
// - het is Winc blauw ... background:#4A90E2;
// - content is empty string 
// - display... block? Inline-block?
// - aanta px hoog 
// - aantal px breed 
// - absolute positie 
}

selector voor het linker halve cirkeltje {  
// border radius, generator: https://www.cssmatic.com/border-radius 
// Positioneer je halve rondje met left en top
}

selector voor het rechter halve cirkeltje {  
// border radius, generator: https://www.cssmatic.com/border-radius 
// Positioneer je halve rondje met left en top
} */