body {
    background-color: rgb(255, 255, 255);
}

.icon {
    width: 50px;
    cursor: pointer;
}

ul {
    list-style: none;
}

li {
    padding: 10px 0;
    cursor: pointer;
    margin: 10px 10px 10px 0px;
    font-size: 20px;
    border-radius: 10px;
}

li:hover {
    background-color: rgba(102, 102, 102, 0.295);
}

input {
    cursor: pointer;
} 

#homeButton {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

#blueButton {
    color: white;
    background-color: blue;
}

#redButton {
    color: white;
    background-color: red;
}

#greenButton {
    color: white;
    background-color: green;
}

.radioButton {
    display: inline-block;
}

.button {
    cursor: pointer;
}

.icon:hover {
    opacity: 0.7;
}

.wholeMenu {
    display: none;
    opacity: 0;
    position: absolute;
    background-color: #2b2b2b;
    min-width: 200px;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.452);
    height: 0;
    border-radius: 10px;
  }

  .dropDownButton p:hover {
      background-color: rgb(63, 63, 63);
    }

    .home-background {
        background-color: rgb(255, 255, 255);
    }

    .blue-background {
        background-color: blue;
    }

    .red-background {
        background-color: red;
    }

    .green-background {
        background-color: green;
    }

.show {
    display: block;
    opacity: 1;
    height: 230px;
    transition: height 0.5s ease-in;
    
}
